.filterLabel {
  color: #ae6efc;
}

.Btn {
  background-color: #ae6efc;
  color: #efe301;
  font-weight: 700;
}

.table-responsive {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 8px;
  overflow-x: auto;
}
