.filterLabel {
  color: #ae6efc;
}

.Btn {
  background-color: #ae6efc;
  color: #efe301;
  font-weight: 700;
}

.alert {
  background-color: #ae6efc;
  color: #efe301;
  padding: 20px;
  font-weight: 500;
  font-size: larger;
}

.table-responsive {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 8px;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 70vh;
}

::ng-deep .mat-form-field {
  margin: 0;
  width: 100%;
}

::ng-deep .mat-form-field-wrapper,
::ng-deep .mat-form-field-infix,
::ng-deep .mat-input-element {
  padding: 0 !important;
  font-size: 14px;
  line-height: 1.6;
}





